
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.head ul{
    display: flex;
    gap: 25px;
}

.text, a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-flow: column;
    padding: 10px 150px;
}

.title{
    font-size: 48px;
    font-weight: extra-bold;
}

.description button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 3px 20px;
    color: #E5E7EB;
    font-weight: bold;
}


.header .head{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}


.header .headerblock .description{
    /* display: flex; */
    flex-flow: column;
    flex: 0 1 450px;
    /* justify-content: space-around; */

}

.header .headerblock{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 3em 0em 3em;
}


body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.content1{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;
}

.content1 h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}


.content1 ul{
    display: flex;
    justify-content: center; 
    max-width: 180px;
    gap: 3em;
}

ul li img{
    border-radius: 10px;
}

.content2{
    display: flex;
    flex-flow: column;
    background-color: #E5E7EB;
    align-items: center;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    padding: 100px 450px;
}

.content2 .author{
    align-self: flex-end;
}

.signup{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 100px 350px;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    color: #F9FAF8;
    /* flex: auto; */
}

.signuptext h3{
    margin: 0px;
    /* padding: 50px 50px 50px; */
}

.signup button{
    border-radius: 5px;
    padding: 3px 20px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-style: solid;
    color: #F9FAF8;
    font-weight: 600;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}

